<p>{{check()}}</p>
<p>Chosen dep point: 
 {{dp}}
</p>

<div *ngFor="let result of results">
    <h1>{{result.tour_title_s}}</h1>
    <p>{{result.concprc_min_l | currency: 'GBP' }} - {{result.ordprc_max_l | currency : 'GBP'}}</p>
    <p>{{result.description[0]}}</p>
</div>
