<script src="dep-list.js"></script><link rel="stylesheet" href="styles.css"><dep-list></dep-list>
<script>
  const angularElement = document.querySelector('dep-list');
  console.log(angularElement);
  angularElement.addEventListener('depPointText', function(event){
      console.log(`${event.detail} Was clicked`);
  //    resultElement = document.querySelector('results-list');
      //resultElement.setAttribute('dp', event.detail);
  })

  </script>